<a href="/">Back to the index</a>
<h1><%= @category.title %></h1>
<a class='btn' href="/post/create/<%=@category.id%>">Create New Post</a>
<ul>
  <% @category.posts.each do |post| %>
  <li><a href='/post/<%= post.id %>'><%= post.title %>, $<%= post.price %></a></li>
  <% end %>
</ul>
<form action="/category/delete/<%=@category.id%>" method="POST">
  <label><input class='btn' type="submit" value="Delete Category"> </label>
</form>
